@model List<ContactInfo>

<h2>Contact List</h2>

<a asp-action="Create"> Add New Contact</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Designation</th>
            <th>Company</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.EmailId</td>
            <td>@item.MobileNo</td>
            <td>@item.Designation</td>
            <td>@item.CompanyName</td>
            <td>@item.DepartmentName</td>
            <td>
                <a asp-action="Edit"asp-route-id="@item.ContactId"> Edit</a> |
                <a asp-action="Delete"asp-route-id="@item.ContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>