@model IEnumerable<Movie>

<h2>Movie List</h2>

<a asp-action="Create">Add New Movie</a>

<table border="1" class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>
        <th>ReleaseDate</th>
        <th>Price</th>
        <th>Rating</th>
        <th>edit</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Title</td>
        <td>@item.Genre</td>
        <td>@item.ReleaseDate</td>
        <td>@item.Price</td>
        <td>@item.Rating</td>
        <td> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
           <td> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>