@model List<EXAPM.Models.ContactInfo>

<h2>All Contacts</h2>

<a href="AddContact">Add New Contact</a>

<table border="1" class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>CompanyName</th>
        <th>MobileNo</th>
        <th>Designation</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.ContactId</td>
            <td>@c.FirstName @c.LastName</td>
            <td>@c.EmailId</td>
            <td>@c.CompanyName</td>
            <td>@c.MobileNo</td>
            <td>@c.Designation</td>
        </tr>
    }
</table>